body{
font-family:Arial;
margin:0;
background:#fafafa;
}

header{
background:#e23744;
color:white;
padding:25px;
text-align:center;
}

.form{
text-align:center;
margin:20px;
}

.form input{
padding:10px;
margin:5px;
}

.form button{
padding:10px 20px;
background:#e23744;
color:white;
border:none;
}

.container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:30px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

.rating{
color:#e23744;
font-weight:bold;
}